﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_this/Simple.Master" AutoEventWireup="true" CodeBehind="P.aspx.cs" Inherits="wangyoutian.WEB.prj_.cpark.loan.letter.link.P" %>
<%@ Register src="../Link.ascx" tagname="Link" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
		<uc1:Link ID="Link1" runat="server" />
</asp:Content>
