﻿<%@ Control Language="C#" AutoEventWireup="true"  %>


	<section>
		<h1>
			能否简要按时间线介绍下整个过程
		</h1>
		<ol>
            <li>2012年武汉市江夏区批准楼盘对个人销售</li>
            <li>2013年武汉市发文（<span>武房发[2013]146号</span>）要求撤销对个人销售合同，做好购房者协商工作，退款；购买需以企业身份</li>
            <li>2015年江夏区发文(夏政办[2015]28)：只能以企业身份购买。但此文件被隐匿。</li>
            <li>2016年江夏区发文(夏政办[2016]8)：只能以企业身份购买。但此文件被隐匿。</li>
            <li>2018年江夏区开始发放个人房产证，未告知任何上述文件；此个人房产证看起来无任何异样。</li>
            <li>2018-2019年购房者在转卖时被口头告知，购买人必须是企业身份，因此不能转卖给个人。</li>
            <li>2019-2020年购房者多次奔走反应后，江夏区涉案有关部门方才出具书面告知；此举违反了武汉市要求一次性书面告知的规定。告知书依据前述3个文件解释不能卖给个人的理由，但回避答复购房者对为何可以发放给个人房产证的质疑。</li>
            <li>2020年，江夏区再就此案发文，但此文发文日期与实际不符，其内容被隐匿而无从得知。</li>
            <li>随着年长的购房者们老去，按照江夏区文件此房屋只能转让给企业，其子女将无权处理该房屋，该房屋由谁负责将处于混乱状态。购房者将在垂死中惶恐是否给子女留下再次奔走的煎熬。</li>
        </ol>
		<p>
            2012年-2018年我是在信任和体谅中等待江夏有关部门的。2018年-2019年我以跳楼价找来买家准备脱手；2019年-2020年我在要各种文件说法尝试了市内所有公开的投诉途径；2020年-2022年，我整理手头工作，以便腾出手来解决。2022年教师节前我发布了软件第二版、提早发布了开源软件公益计划；在教师节后，开始着手解决此问题。</p>
        <p>
            我们要求江夏区公开文件，按照市、区文件执行，撤销购房合同，撤销贷款合同，撤销发给个人的房产证，并给予各方赔偿。</p>
		

	</section>
