﻿<%@ Control Language="C#" AutoEventWireup="true"  %>



	<section>
		<h1>
			其它地方也发生类似事件，处理有何异同？
		</h1>
		<p>
			我们就类似地方公开资料进行了对比如下：
		</p>
        <table >
            <tr>
                <td>&nbsp;</td>
                <th>广州</th>
                <th>西安</th>
                <th>其它地区</th>
                <th>武汉</th>
            </tr>
            <tr>
                <td>对个人销售是否违规</td>
                <td>按照公开资料，个人购买的仍可转让给个人；未售出的必须面向企业。</td>
                <td>属违建</td>
                <td>地方文件允许对个人销售</td>
                <td>江夏区批准对个人销售；但办证前被要求撤销</td>
            </tr>
            <tr>
                <td>承认既有文件效力（法不溯以往）</td>
                <td>是</td>
                <td>未纠正违建</td>
                <td>被叫停后，不再发放个人证</td>
                <td>未按文件撤销；违反自己文件发放个人证后，不再承认自己的文件。</td>
            </tr>
            <tr>
                <td>被叫停后是否继续违规发放个人证</td>
                <td>否</td>
                <td>未纠正以前</td>
                <td>否</td>
                <td><%--对着禁止销售给个人规定，--%>新启动违法发个人证行为</td>
            </tr>
        </table>
        <p>
            总之，只有武汉是在2018年本来没有个人证的情况下，开始向市场投放个人证，使得个人证从无到有<%--，变本加厉地--%>。从这个角度讲，这是各地中在违法道路上走得最远的一个。</p>
       
	</section>
   
