﻿<%@ Control Language="C#" AutoEventWireup="true"  %>

<%@ Register assembly="nilnul._web_._CTR_" namespace="nilnul._web_._CTR_.enCn_" tagprefix="cc1" %>


<section>
	<h1>
		<cc1:enCn__BySession ID="EnCn__BySession2" runat="server">
			<%--first one is english--%>
			<asp:View ID="View3" runat="server">Research &amp; Develop</asp:View>
			<asp:View ID="View4" runat="server">研究与开发</asp:View>
		</cc1:enCn__BySession>
	</h1>


		<p>
		发表论文少量，著、译书各一。
	<br />
        大量研究体现在代码中，正逐渐以nilnul代号在github等网站开源。</p>
	<p>
部分产业化中，见：<a href="http://nilnul.com"><% = nilnul.web.http.svr.app.module_.ling_.enCn_.BySessionX.GetEnCn("nilnul.com","零空网际") %></a>
	</p>
</section>
