﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<section>

	<h1>
		致华夏银行的信
	</h1>
	<p>
		尊敬的华夏银行：
	</p>
	<p>

		依据《个人房屋抵押借款合同》（编号：WH03P10220130113），贵行为我购房（见 夏120184000号《武汉市商品房买卖合同》）提供了人民币十九万元的贷款，占房屋总价的47.97%,利率为7.205%（依照合同第8条：按中国人民银行调整后的基准利率上浮10%确定）。</p>
	<p>

		按照合同约定我于2013年6月20日第一次还款，截止至今，已还<%=12*9+1+1+1 %>次，离最后还清日期还有大半年的时间。</p>
	<p>

		然而，房屋买卖交易基于的法规已发生了重大变化：</p>
	<ol>
		<li>2013年8月23日，武房发[2013]146号文件要求撤销房屋销售合同；</li>
		<li>夏政办[2015]28号和夏政办[2016]8号亦要求重新以企业身份签订购房协议；原协议作废。</li>
	</ol>
	<p>
		因此，原购房合同已失去法律效力<%--与规定不符--%>，应予撤销；而伴生的贷款合同应同时撤销。该房屋的房产证写明个人的，属于违法发放，也应予同时撤销。</p>
	<p>
		由于这期间政策的反复和江夏区政府有关部门在此交易中拖延、掩盖和出尔反尔的行为，给贵行和购房者均造成了重大误解，给房屋价值造成了重大损失；而房屋是抵押品，因此给贵行带来了重大风险。</p>
	<p>
		基于此，</p>
	<ol>
		<li>我向贵行的还款从即日起暂停。</li>
		<li>贵行应及时将以前的还款本息退还给我。</li>
		<li>江夏区政府有关部门将贵行发放给开发商的贷款本息归还给贵行，并予以赔偿。江夏区政府有关部门可自行决定是否找开发商追偿。</li>
		<li>江夏区政府有关部门将购房者的房款、税费、房屋维修基金等为房屋的开支本息予以退还，并予以赔偿。江夏区政府有关部门可自行决定是否找开发商追偿。</li>
		<li>江夏区政府有关部门赔偿购房者装修费用。</li>
		<li>江夏区政府有关部门应就对因拖延、掩盖、缺乏诚信给银行和我造成的伤害而道歉，并赔偿损失，包括奔走维权的费用、法务费用等。</li>
	</ol>
	<p>
		我们双方作为受害者，应密切配合，一起向违法者追偿。</p>
	<p>

		非常感谢贵行在我购买房屋时提供的贷款帮助。我亦能按时还款，即使疫情期间也未拖欠。尔无我虞，我无而诈；如果所有参与方都像我们这样讲信用，这件事情应该在2013年就解决了，我们能节约多少精力啊。</p>
	<p>

		此致。</p>
	<p>

		祝贵行生意兴隆！</p>
	<p>

		王有天</p>
	<p>

		2022年9月12日</p>
	
</section>
