﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<section>

	<h1>
		致华夏银行的信
	</h1>
	<p>
		告知 江夏区拖延隐瞒戏弄情况。江夏区属本交易中唯一失信方。</p>
    <ol>
        <li>发电子邮件<ol>
            <li>&nbsp;87266666</li>
            <li>87265287<ol>
                <li>已留给对方电话，也告知了对方我要停贷<ol>
                    <li>对方表示向领导汇报。</li>
                    </ol>
                </li>
                </ol>
            </li>
            </ol>
        </li>
    </ol>
    <p>
		房屋损失：</p>
    <ol>
        <li>
            
                我在19年尝试40万卖，已经认可损失<ol>
                    <li>（不算时间价值：7万</li>
                    <li>算时间价值：房屋增值-40万 =20万。</li>
                    <li>在维权期间，希望华夏暂停剩余1万8贷款的催缴。</li>
                </ol>
        </li>
    </ol>
    <p>
        协商共同维权，江夏区失信。</p>
    <p>
        &nbsp;</p>
	
</section>

