﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<p>
	You can edit this website at: 
</p>
<p>
	<a href="https://gitlab.com/wangyoutian/wangyoutian.web">https://gitlab.com/wangyoutian/wangyoutian.web</a></p>
<p>
	<a href="https://github.com/wangyoutian/wangyoutian.WEB">https://github.com/wangyoutian/wangyoutian.WEB</a></p>
<p>
	<a href="https://gitee.com/wangyoutian/wanyoutian.WEB">https://gitee.com/wangyoutian/wanyoutian.WEB</a></p>
