﻿<%@ Control Language="C#" AutoEventWireup="true"  %>

<%@ Register Assembly="nilnul._express_._compose_.WEB._CTR_" Namespace="nilnul._express_._compose_.WEB._CTR_.link_.loader_" TagPrefix="cc2" %>

	

	<cc2:link__loader__InThisApp ID="Link__loader__InThisApp1" runat="server" NavigateUrl="../Grow.ascx" title="零空系统的产业化及其对当地经济科教的贡献">
<%--~/abc/def.ascx or /abc or abc/def--%>
零空系统的产业化及其对当地经济科教的贡献
	</cc2:link__loader__InThisApp>

