﻿<%@ Control Language="C#" AutoEventWireup="true"  %>

<%@ Register Assembly="nilnul._express_._compose_.WEB._CTR_" Namespace="nilnul._express_._compose_.WEB._CTR_.link_.loader_" TagPrefix="cc2" %>

	

	<cc2:link__loader__InThisApp ID="Link__loader__InThisApp1" runat="server" NavigateUrl="../Letter2huaxia.ascx" title="给华夏银行的信">
<%--~/abc/def.ascx or /abc or abc/def--%>
给华夏银行的信
	</cc2:link__loader__InThisApp>

