﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="~/_teach/_intro_/Heading.ascx" TagPrefix="uc1" TagName="Heading" %>


<a href="<%=ResolveUrl("~/teach/") %>">
	
	<uc1:Heading runat="server" ID="Heading" />
</a>
