﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Assembly="nilnul._web_._CTR_" Namespace="nilnul._web_._CTR_.enCn_" TagPrefix="cc1" %>





<cc1:enCn__BySession ID="EnCn__BySession1" runat="server">
	<%--first one is english--%>
	<asp:View ID="View1" runat="server">
		<div>
			You can:
							<ol>
								<li>contract/consult us for a solution/project	
								</li>
								<li>buy our product/service(tech support/training)
								</li>
								<li>join our team by becoming a member of us</li>
								<li>join in the venture by <%--, invest in us--%>investing in us</li>
							</ol>

		</div>



	</asp:View>
	<asp:View ID="View2" runat="server">
		<div>
			您可以
							<ol>
								<li>请我们协助规划、实施信息系统工程
								</li>
								<li>购买我们的信息系统
								</li>
								<li>加入我们，成为我们的一员，致力于建设一个先进的信息系统</li>
								<li>成为我们的合作伙伴，投资我们的孵化项目</li>
							</ol>

		</div>

	</asp:View>
</cc1:enCn__BySession>

<%-- .com 
				
				
--%>


<%--<ol>
                    <li>欢迎</li>
                </ol>--%>
		

