﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<section>
	<h1>与华夏银行通电话的情况
	</h1>

<p>
	昨天（9月19日），我与华夏银行武汉分行的业务办理人员通了电话。
</p>
    <p>
	    我首先再次向华夏银行表达了谢意，感谢他们给我贷款，并能信守合约。</p>
    <p>
	    我向华夏银行说明了江夏区隐匿系列禁止销售给个人的文件，违规发放个人房产证的情况。华夏银行表示错愕和惊讶，这么重大的消息居然不通知参与各方。再次，对江夏区涉案有关部门向参与交易的各方采取隐匿欺蒙的行为表示愤慨。</p>
    <p>
	    由于购房合同按规定应撤销，个人房产证违法应作废，因此贷款合同应撤销。我请求华夏银行归还我已还款项和利息；然后同为受害者，再分别向江夏区涉案部门讨要付给开发商的款项（其中华夏银行应要回19万；我应要回20万余）及利息，并讨要其它各种支出对应的赔偿。</p>
    <p>
	    此房屋我曾40万卖而个人承担损失20万左右，华夏银行只剩下1万8千元贷款未收回；因此，我承担了大部分未追回的损失。在追回损失之前，我们应该共担风险，不能让最守信用也最弱小的个人来全部承担。基于此，我告知了华夏银行我将停止归还贷款，并请求他们理解（同时希望他们归还我还给他们的款项和利息）。</p>
    <p>
	    市场经济下参与交易的各方都属于平等的市场主体，此交易的唯一失信人为江夏涉案有关部门；因此，银行应将其纳入失信名单，否则市场经济的根基将被破坏殆尽。</p>

</section>

