﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<section>
	<h1>被欺骗的和被掠夺的
	</h1>

	<div style="display: flex; flex-direction: row;">

		<img src="<%=this.ResolveUrl("_niece_/meituan.jpg") %>" style="height: 792px" />
		<img src="<%=ResolveUrl("_niece_/niece.jpg") %>" style="height: 792px; width: 385px;" />
	</div>
	<p>
		这是我的侄子。他把信任票投给了武汉江夏区
	</p>

	<div style="display: flex; flex-direction: row;">

		<img src="<%=ResolveUrl("_niece_/handback.jpg") %>" style="height: 792px" />
		<img src="<%=ResolveUrl("_niece_/palm.jpg") %>" style="height: 792px; width: 385px;" />
	</div>
	<p>
		这是他父亲的双手</p>
    <p>
		江夏区涉案有关部门从这双手里用欺骗的方法掠夺走了他们的半生血汗。</p>

</section>

