﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register Src="~/_master/_whole_/_society_/Heading.ascx" TagPrefix="uc1" TagName="Heading" %>


<uc1:Heading runat="server" ID="Heading" />
