﻿<%@ Control Language="C#" AutoEventWireup="true"  %>

<%@ Register Assembly="nilnul._express_._compose_.WEB._CTR_" Namespace="nilnul._express_._compose_.WEB._CTR_.link_.loader_" TagPrefix="cc2" %>

	

	<cc2:link__loader__InThisApp ID="Link__loader__InThisApp1" runat="server" NavigateUrl="../Party.ascx" title="关于武汉市依法新增民主党派的建议">
		关于武汉市依法新增民主党派的建议
	</cc2:link__loader__InThisApp>

