﻿<%@ Control Language="C#" AutoEventWireup="true"  %>
<section>
	<h1>零空系统的产业化及其对当地经济科教的贡献 </h1>
	<p>
		还记得刚踏上工作岗位，当时校长就勉励我们说搞科研不要太在乎眼前，要能做得住冷板凳。 
		有些学生来参与研发和工程实施，我也对他们说，干信息系统这一行没有短平快，需要终身致力于此才行；因为信息技术几乎每天都在更新，那我们就要不断学习才能不落后，而且软件系统工程分得可以很细，钻得越深就越窄，甚至换个团队干法都不一样，如果不干这一行，辛苦学来的东西可能就用不上了；而我们带你也要费很大的力气，如果你中途放弃了，那苦就白吃了。 
	</p>
	<p>
		这个积累的过程很漫长，中间可能还有弯路，细节打磨也很费时间；因此，有很长一段时间几乎没什么产出。有时候就很担心年末考核，好在领导同事们都比较大度，虽然在有的项目参与不多，也拿了点分值考核过关。 
	</p>
	<p>
		直到后来，开始慢慢有些积累。先是在自身教研上试验，随之，逐渐可以通过科研和校企合作平台承接些身边校企单位的小活；再后来，逐渐有些竞争力，能够承接些工业工程项目。 
	</p>
	<p>
		这些工程对外开票即在当地纳税，收入则发给参与的研发人员，研发人员缴纳所得税。我们还有实习生的参与，流动比较大，时间比较短，每个人也有少量实习费。外请顾问和评审也得开支，并代扣劳务税。这些人员基本都生活在本地，因此这些开销最终也是消费在本地。 
	</p>
	<p>
		毕竟工程项目不常有，要想长远发展，必须得在工程积累中，逐渐地形成了一些有核心技术含量的产品。我们开始不再接跟自己主业不太相关的项目，以能够集中精力投入到到某个长线产品的研发。 
	</p>
	<p>
		国家不断出政策，号召科研成果要积极转化为高新产业，变成生产力。我也参与直到学生获得了国家大学生创业的立项，正好那时有大学生创业扶植政策，可以免费入驻企业孵化器，于是我们师生一起就成立了大学生为主的创业企业。但随着学生的毕业，这个创业后来没有再延续，我们就把系统产业化的部分转交给一家新成立企业，到指定地点刻了一套公章，又买了税控终端，并且聘请了当地财务公司代办会计，算是我们参与当地经济活动的开始。以前都是自己从别人手里领工资，现在开始有了自己掏腰包投入和给别人劳动报酬的意识，觉得什么东西咋都这么贵。 
	</p>
	<p>
		&nbsp;我们感谢国家和当地地减免小微企业税负的政策，在一定额度里可以免税。增值税不能免除，但赶上时间也可以选择较低的税率。第一次缴纳增值税虽然不多，但作为纳税人还是感到为当地乃至国家经济发展做出一丁点贡献的激动。 我们也就信息系统研发有些零星的对外培训、讲座、评审收入，在收到时也都已扣税。我们在银行开户，缴纳管理费，超过一定限度的转账还要缴纳转账的费用。这些费用也就开支在了本地。</p>
	<p>
		在2020年疫情期间，上级包括学校号召我们要帮忙解决毕业生就业，尽可能设立科研助理等岗位。而这时正好有位比较优秀的学生所找的工作在南京，因为疫情原因，对方要压缩招人规模和开支；再加上疫情期间交通不便，所以这位同学就从本来找好工作状态临时变更为需要重新规划就业和待考事业单位状态。在这期间，我就聘请其为科研助理，帮忙协助些研发工作。当时我自己也比较困难，房子想卖也卖不掉，因此有时也得靠贷款来发工资。这里，我要感谢农行的工作人员给予的帮助，他们尊重客户，也赢得了客户的尊重。</p>
	<p>
		零空系统目前做的贡献还非常少；我们希望其能够发展起来，为当地经济做出更大的贡献。我们从事信息系统行业更新速度比较快，难度较大，也是产业发展升级和打破国际垄断参与国际合作亟需的；其能够为科教领域服务，惠及所有人，并可以传承给未来一代。我们目前的产品排期有近期投产阶段的，有中期研制阶段的，还有远期在梦想阶段的；我们希望能够在产品研制和推广上有突破，能够业务范围更广，甚至有国际用户。零空在<%--虽小，但确有着从来就是个有梦想的企业，也--%>积蓄着所需的能力，为未来做好准备。愿梦想成真。</p>
	
</section>

